/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";

/*Header Styling*/
li {
  display: inline;
}
nav {
  background-color: Wheat;
  text-align: center;
}

.container-fluid {
  background-color: black;
}

.nav .navbar-brand {
  text-align: center;
  font-family: Rhodium Libre;
  background-color: white;
}

/*Body Styling*/
body {
  background-color: #505073;
  text-align: center;
}
tbody th {
	text-align: center;
	margin: 0 auto;
}

/*Footer Styling*/