<title> @title </title>
<!--Meta Tag Start-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
	<meta name="HandheldFriendly" content="true"/> 
	<meta name="MobileOptimized" content="320"/> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Meta Tag End-->

<!-- links -->
	<link href='https://fonts.googleapis.com/css?family=Rhodium+Libre' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- links -->

<!-- style sheet linking -->
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<!-- end style sheet linking -->